.contact-body {
  margin: 0rem;
  padding: 0rem;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;

  .contact-grid {
    position: fixed;
    top: 2rem;
    left: -1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 105%;
    height: 100%;
    background: white;
    color: black;
    overflow-y: auto;

    .col-left {
      background-image: url(../images/bg-sky.png);
      background-position: top;
      background-size: cover;
      animation: slideRight 3s ease forwards;
    }

    .col-right {
      animation: slideLeft 3s ease forwards;
    }

    h2 {
      margin-top: 8rem;
      font-family: "Anton", sans-serif;
    }

    .moon-img {
      margin: 12rem;
      width: 200px;
    }

    p {
      font-family: "Oxygen", sans-serif;
      color: black;
      font-size: 1.6rem;
      font-weight: bold;
      width: 75%;
      margin: auto;

      span {
        font-size: 4rem;
        color: #012957;
        display: inline-block;
        margin-bottom: 5rem;
      }
    }

    hr {
      border-top: 5px dotted black;
      width: 50%;
      margin: auto;
    }

    .contact-list {
      .list-item-content {
        font-size: 2.5rem;
        font-family: "Anton", sans-serif;
        margin-left: 15rem;
        margin-top: 3rem;

        :hover {
          cursor: pointer;
          color: #002258;
        }

        i {
          font-size: 3rem;
          padding-right: 3rem;
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 1480px) {
  .col-right {
    h2 {
      font-size: 4vw;
    }
    .list-item-content {
      font-size: 2.3vw !important;
      margin-left: 10rem !important;
    }
  }
}
@media screen and (max-width: 1168px) {
  .col-right {
    .list-item-content {
      margin-left: 6rem !important;
    }
  }
}
@media screen and (max-width: 1080px) {
  .contact-grid {
    transform: translateY(-5%) !important;
    height: 105%;
  }
  .col-left {
    height: 100% !important;
    .moon-img {
      width: 18vw !important;
      margin-left: 17vw !important;
    }
    p {
      margin-top: -5rem !important;
      span {
        font-size: 3rem !important;
      }
    }
  }
}
@media screen and (max-width: 861px) {
  .col-right {
    .list-item-content {
      margin-left: 3rem !important;
    }
  }
}
@media screen and (max-width: 841px) {
  .col-right {
    h2 {
      font-size: 3rem;
    }
    .list-item-content {
      font-size: 1.4rem !important;
      margin: 0.5rem 8vw !important;
    }
  }
  .col-left {
    width: 100vw !important;
    margin: 0rem !important;

    .moon-img {
      width: 140px !important;
      margin: 14rem auto !important;
    }
  }
}

@media screen and (max-width: 571px) {
  .col-right {
    .list-item-content {
      margin: 0rem !important;
    }
  }
  .col-left {
    .moon-img {
      margin-top: 5rem !important;
    }
    p {
      margin-top: -3rem !important;
    }
  }
}
@media screen and (max-width: 479px) {
  .col-right {
    .list-item-content {
      margin: auto 1rem !important;
    }
  }
}
@media screen and (max-width: 332px) {
  .col-left {
    p {
      span {
        font-size: 3rem !important;
        line-height: 3rem !important;
      }
    }
  }
}
