.footer-style {
  font-family: "Merienda", cursive;
  background-color: #101018f8;
  color: #fff;
  font-size: 1.5em;
  min-height: 7vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
