.landing-container {
  width: 100%;
  margin: auto;

  .landing-grid {
    text-align: center;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images//sky.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: auto;

    .animation {
      animation: slideBottom 5s ease forwards;
      z-index: 100;
    }

    .me-img {
      width: 17vw;
      border-radius: 50%;
      margin-top: 6rem;
    }

    .banner-text {
      background-color: black;
      opacity: 0.8;
      width: 75vw;
      margin: auto;
      border-radius: 10px;
      font-family: "Merienda", sans-serif;

      h1 {
        font-size: 56px;
        font-weight: bold;
        color: white;
        font-family: "Oxygen", sans-serif;
        margin-bottom: 0.6rem;
      }
      hr {
        border-top: 4px dotted white;
        width: 50%;
        margin: auto;
      }

      p {
        color: white;
        font-size: 20px;
        padding: 1rem;
        margin-top: 1rem;

        span {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }

      .social-links {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;

        i {
          color: white;
          font-size: 5rem;
          padding: 10px;
        }

        :hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  .me-img {
    min-width: 350px;
  }
}

@media screen and (max-width: 1367px) {
  .me-img {
    margin-top: 8rem !important;
  }

  .banner-text {
    width: 75vw;
    margin: auto;
    border-radius: 10px;

    h1 {
      font-size: 40px !important;
      padding: 1rem;
    }
  }
}
@media screen and (max-width: 1300px) {
  .me-img {
    min-width: 300px;
  }

  .banner-text {
    width: 75vw;
    margin: auto;
    border-radius: 10px;

    h1 {
      font-size: 40px !important;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 1080px) {
  .me-img {
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 668px) {
  .me-img {
    min-width: 200px !important;
  }
  .banner-text {
    h1 {
      font-size: 25px !important;
      padding: 0.5rem !important;
    }
    p {
      font-size: 1.2rem !important;
    }
  }
  .social-links {
    i {
      font-size: 2.7rem !important;
    }
  }
}

@media screen and (max-width: 460px) {
  .me-img {
    margin-top: 2.5rem !important;
    min-width: 200px !important;
  }
}

@media screen and (max-width: 402px) {
  .me-img {
    margin-top: 1rem !important;
    min-width: 150px !important;
  }
  .banner-text {
    h1 {
      font-size: 25px !important;
    }
    p {
      font-size: 16px !important;
    }
    .social-links {
      i {
        font-size: 2rem !important;
      }
    }
  }
}
