.header-color {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .link {
    font-family: "Merienda", sans-serif;
    font-size: 1.3rem;
    margin-left: 3rem;
    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1.3);
      color: rgb(0, 0, 0) !important;
    }
  }
  .mdl-navigation__link {
    background-color: transparent !important;
    border: none !important;
  }

  .logo {
    width: 10rem;
    margin-left: -3rem;
    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1.15);
    }
  }
}

.mdl-layout__drawer-button {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 1080px) {
  .header-color {
    opacity: 0;
    pointer-events: none;
  }
  .mdl-layout__drawer-button {
    opacity: 1;
    pointer-events: all;

    i {
      margin-left: 1.5rem;
      color: white;
      font-size: 2.5rem;
    }
  }
  .drawer {
    width: 15rem !important;
    text-align: center;
    background-color: #292929 !important;
    padding: 0rem !important;
    margin: 0rem !important;
    border: none !important;
    box-shadow: 2px 0px 16px 6px black !important;
    .mdl-layout-title {
      padding: 0 !important;
    }
    img {
      margin-top: 3rem;
      width: 20vw !important;

      &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.2);
      }
    }
    .link {
      font-family: "Merienda", sans-serif;
      color: white !important;
      font-size: 2.2vw;
      margin-top: 3rem !important;
      &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.1);
        color: rgb(80, 127, 255) !important;
      }
    }

    .fa {
      color: white;
      cursor: pointer;
      background-color: transparent;
      font-size: 5vw;
      margin-top: 5rem;
      &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.1);
        color: rgb(79, 126, 255) !important;
      }
    }
    .mdl-navigation__link {
      background-color: transparent !important;
      border: none !important;
    }
  }
}

@media screen and (max-width: 700px) {
  .drawer {
    img {
      width: 150px !important;
    }
    .link {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 450px) {
  .drawer {
    img {
      width: 45vw !important;
    }
    .link {
      margin-top: 3rem !important;
      font-size: 24px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .mdl-layout__drawer-button {
    i {
      margin-left: 0;
      font-size: 1.5rem;
    }
  }
  .drawer {
    img {
      width: 150px !important;
    }
  }
}
