.header-color {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .link {
    font-size: 1.2rem;
    margin-left: 3rem;
  }

  .logo {
    width: 10rem;
    margin-left: -3rem;
  }
}

.mdl-layout__drawer-button {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 1080px) {
  .header-color {
    opacity: 0;
    pointer-events: none;
  }
  .mdl-layout__drawer-button {
    opacity: 1;
    pointer-events: all;

    i {
      margin-left: 1.5rem;
      color: white;
      font-size: 2.5rem;
    }
  }
  .drawer {
    width: 15rem !important;
    text-align: center;
    .mdl-layout-title {
      padding: 0 !important;
    }
    img {
      margin-top: 1rem;

      width: 20vw !important;
    }
    .link {
      color: black !important;
      font-size: 2.5vw;
    }
    .fa {
      color: black;
      background-color: transparent;
      font-size: 5vw;
      margin-top: 5rem;
    }
    .mdl-navigation__link {
      background-color: transparent;
      border: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .drawer {
    img {
      width: 150px !important;
    }
    .link {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 450px) {
  .drawer {
    img {
      width: 45vw !important;
    }
    .link {
      margin-top: 3rem !important;
      font-size: 8vw !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .mdl-layout__drawer-button {
    i {
      margin-left: 0;
      font-size: 1.5rem;
    }
  }
  .drawer {
    img {
      width: 150px !important;
    }
  }
}
