.Resume {
  color: white;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 3rem;

  h1,
  h2 {
    font-family: "oneday", sans-serif;
    font-weight: 600;
  }

  h3,
  h4,
  h5 {
    font-family: "Ubuntu", sans-serif;
  }

  p {
    font-size: 1.2rem;
  }

  .resume-left-col {
    animation: slideRight 3s ease forwards;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #445a70,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #445a70,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #292929;
    border-radius: 5%;
    height: 100%;

    .img {
      margin-left: 10%;
      img {
        width: 350px;
        padding-bottom: 3rem;
      }
    }

    .resumeInfo {
      margin-top: 1.5rem;
      padding-left: 4rem;
    }
    a {
      font-family: "Oxygen", sans-serif;
      font-style: italic;
      text-decoration: none;
      color: #041236;
      font-size: 1.4rem;
      display: inline-block;

      &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.2);
        color: #d7a05e;
      }
    }

    .hr1 {
      border-top: 3px solid #041236;
      width: 60%;
    }
    .hr2 {
      border-top: 3px solid #041236;
      width: 50%;
    }
    .hr3 {
      border-top: 3px solid #041236;
      width: 40%;
    }
    .hr4 {
      border-top: 3px solid #041236;
      width: 30%;
    }
    .hr5 {
      border-top: 3px solid #041236;
      width: 20%;
    }
    .flag {
      width: 3rem;
      margin: auto 1rem;
    }
  }

  .resume-right-col {
    animation: slideLeft 3s ease forwards;
    padding: 2rem;

    a {
      text-decoration: none;
      color: white;
      display: inline-block;

      &:hover {
        transition: all 0.5s ease-in-out;
        color: #d7a05e;
        transform: scale(1.2);
      }
    }

    .progress {
      position: absolute;
      margin-left: 15rem;
    }

    hr {
      border-top: 2px solid #d7a05e;
      width: 90%;
      margin: 4rem;
    }

    .img {
      text-align: center;
      img {
        margin-top: 2rem;
        width: 25rem;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .resume-left-col {
    .img {
      margin-left: 0 !important;
    }
  }
}
@media screen and (max-width: 1440px) {
  .resume-left-col {
    .img {
      margin-left: 1rem !important;
      img {
        width: 300px !important;
      }
    }
  }
  .resume-right-col {
    .progress {
      width: 20vw !important;
    }
  }
}
@media screen and (max-width: 1255px) {
  .resume-left-col {
    .img {
      margin-left: 0rem !important;
      img {
        width: 250px !important;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .mdl-grid {
    padding: 0px !important;
  }
  .Resume {
    width: 100vw;
    .resume-left-col {
      border-radius: 0;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      width: 100vw !important;
      padding: 0rem;
      margin: 0rem;

      .img {
        margin-left: -10rem !important;
        text-align: center;
        img {
          width: 35vw !important;
        }
      }
    }
    .resume-right-col {
      width: 100%;
      text-align: center;
      .mdl-grid {
        width: 100%;
        margin-left: 20%;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .Resume {
    .resume-right-col {
      .mdl-grid {
        width: 80%;
        margin-left: 10%;
        .progressBox {
          padding-left: 8vw !important;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .Resume {
    width: 100vw;
    .resume-left-col {
      .img {
        img {
          width: 60vw !important;
          margin-left: 22vw;
        }
      }
    }
    .resume-right-col {
      img {
        width: 230px !important;
      }
      hr {
        margin: 3rem auto !important;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .Resume {
    h1,
    h2 {
      font-size: 2rem;
    }
    h3,
    h4,
    h5 {
      font-size: 1.2rem;
    }

    .progressBox {
      margin-left: 3vw;
    }
    .progress {
      opacity: 0;
    }
  }
}
